
.Profile-container{
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: 4.5rem;
    width: 100%;
    align-items: center;
}
.Profile-container .card{
    width: 35rem;
    border: 0.1rem solid #ED6C02;
    box-shadow: 0rem 0rem .5rem rgba(0, 0, 0, 0.312);
    display: flex;
    border-radius: .5rem;
    flex-direction: column;
    padding: 2rem 0rem;
    align-items: center;
    background-color:#ede7e7 ;
    margin-top: 1.5rem;
}
.Profile-container .card .btn-container {
    display: flex;
    justify-content: space-evenly;
    padding: .5rem 0rem;
    margin: .5rem 0rem;
    width: 30rem;
    text-align: center;
    border-radius: .5rem;
    text-transform: uppercase;
    box-shadow: 0rem 0rem .2rem rgba(0, 0, 0, 0.312);
    font-size: 1.5rem;
    border: .1rem solid #ED6C02;
    
}

.Profile-container .card div .btn {
    width: 30rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    padding: .5rem 0rem;
    margin: .5rem 0rem;
}

.Profile-container .card h2 {
    color: #ED6C02;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:2rem;
    text-shadow: 0rem 0rem .1rem rgba(0, 0, 0, 0.312);
    border: .1rem solid #ED6C02;
    width: 28rem;
    text-align: center;
    border-radius: .5rem;
    padding: 1rem ;
    margin: 1rem 0rem ;

}